# Imports The Required Libraries

In [2]:
import pandas as pd
import numpy as np
import xarray as xr
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

# Load GRIB File & Convert It To CSV File

In [3]:
# Load the GRIB file and filter by edition
file_path = "data.grib"
ds = xr.open_dataset(
    file_path,
    engine="cfgrib",
    backend_kwargs={
        "filter_by_keys": {"edition": 1}
    }
)

# Convert to DataFrame
df = ds.to_dataframe().reset_index()

# Save to CSV
csv_file = "extracted_data.csv"
df.to_csv(csv_file, index=False)

skipping variable: paramId==139 shortName='stl1'
Traceback (most recent call last):
  File "c:\Users\User\AppData\Local\Programs\Python\Python312\Lib\site-packages\cfgrib\dataset.py", line 725, in build_dataset_components
    dict_merge(variables, coord_vars)
  File "c:\Users\User\AppData\Local\Programs\Python\Python312\Lib\site-packages\cfgrib\dataset.py", line 641, in dict_merge
    raise DatasetBuildError(
cfgrib.dataset.DatasetBuildError: key present and new value is different: key='time' value=Variable(dimensions=('time',), data=array([1725148800, 1725235200, 1725321600, 1725408000, 1725494400,
       1725580800, 1725667200, 1725753600, 1725840000, 1725926400,
       1726012800, 1726099200, 1726185600, 1726272000, 1726358400,
       1726444800, 1726531200, 1726617600, 1726704000, 1726790400])) new_value=Variable(dimensions=('time',), data=array([1725192000, 1725195600, 1725199200, 1725202800, 1725206400,
       1725210000, 1725213600, 1725217200, 1725220800, 1725224400,
       1725228000, 1725231600, 1725278400, 1725282000, 1725285600,
       1725289200, 1725292800, 1725296400, 1725300000, 1725303600,
       1725307200, 1725310800, 1725314400, 1725318000, 1725364800,
       1725368400, 1725372000, 1725375600, 1725379200, 1725382800,
       1725386400, 1725390000, 1725393600, 1725397200, 1725400800,
       1725404400, 1725451200, 1725454800, 1725458400, 1725462000,
       1725465600, 1725469200, 1725472800, 1725476400, 1725480000,
       1725483600, 1725487200, 1725490800, 1725537600, 1725541200,
       1725544800, 1725548400, 1725552000, 1725555600, 1725559200,
       1725562800, 1725566400, 1725570000, 1725573600, 1725577200,
       1725624000, 1725627600, 1725631200, 1725634800, 1725638400,
       1725642000, 1725645600, 1725649200, 1725652800, 1725656400,
       1725660000, 1725663600, 1725710400, 1725714000, 1725717600,
       1725721200, 1725724800, 1725728400, 1725732000, 1725735600,
       1725739200, 1725742800, 1725746400, 1725750000, 1725796800,
       1725800400, 1725804000, 1725807600, 1725811200, 1725814800,
       1725818400, 1725822000, 1725825600, 1725829200, 1725832800,
       1725836400, 1725883200, 1725886800, 1725890400, 1725894000,
       1725897600, 1725901200, 1725904800, 1725908400, 1725912000,
       1725915600, 1725919200, 1725922800, 1725969600, 1725973200,
       1725976800, 1725980400, 1725984000, 1725987600, 1725991200,
       1725994800, 1725998400, 1726002000, 1726005600, 1726009200,
       1726056000, 1726059600, 1726063200, 1726066800, 1726070400,
       1726074000, 1726077600, 1726081200, 1726084800, 1726088400,
       1726092000, 1726095600, 1726142400, 1726146000, 1726149600,
       1726153200, 1726156800, 1726160400, 1726164000, 1726167600,
       1726171200, 1726174800, 1726178400, 1726182000, 1726228800,
       1726232400, 1726236000, 1726239600, 1726243200, 1726246800,
       1726250400, 1726254000, 1726257600, 1726261200, 1726264800,
       1726268400, 1726315200, 1726318800, 1726322400, 1726326000,
       1726329600, 1726333200, 1726336800, 1726340400, 1726344000,
       1726347600, 1726351200, 1726354800, 1726401600, 1726405200,
       1726408800, 1726412400, 1726416000, 1726419600, 1726423200,
       1726426800, 1726430400, 1726434000, 1726437600, 1726441200,
       1726488000, 1726491600, 1726495200, 1726498800, 1726502400,
       1726506000, 1726509600, 1726513200, 1726516800, 1726520400,
       1726524000, 1726527600, 1726574400, 1726578000, 1726581600,
       1726585200, 1726588800, 1726592400, 1726596000, 1726599600,
       1726603200, 1726606800, 1726610400, 1726614000, 1726660800,
       1726664400, 1726668000, 1726671600, 1726675200, 1726678800,
       1726682400, 1726686000, 1726689600, 1726693200, 1726696800,
       1726700400, 1726747200, 1726750800, 1726754400, 1726758000,
       1726761600, 1726765200, 1726768800, 1726772400, 1726776000,
       1726779600, 1726783200, 1726786800, 1726833600, 1726837200,
       1726840800, 1726844400, 1726848000, 1726851600, 1726855200,
       1726858800, 1726862400, 1726866000, 1726869600, 1726873200]))

Data saved to extracted_data.csv

# Load Dataset

In [5]:
data = pd.read_csv('extracted_data.csv')
data.head()

,time,step,latitude,longitude,number,surface,valid_time,t2m,sro,tp
0,2024-09-01,0 days 12:00:00,36.772,50.435000,0,0.0,2024-09-01 12:00:00,293.65430,0.000005,0.000053
1,2024-09-01,0 days 12:00:00,36.772,50.535028,0,0.0,2024-09-01 12:00:00,293.83447,0.000008,0.000095
2,2024-09-01,0 days 12:00:00,36.772,50.635056,0,0.0,2024-09-01 12:00:00,295.16553,0.000007,0.000097
3,2024-09-01,0 days 12:00:00,36.772,50.735083,0,0.0,2024-09-01 12:00:00,296.66700,0.000005,0.000106
4,2024-09-01,0 days 12:00:00,36.772,50.835111,0,0.0,2024-09-01 12:00:00,297.82860,0.000003,0.000107

In [7]:
data.shape

(35520, 10)

In [6]:
data.describe()

,latitude,longitude,number,surface,t2m,sro,tp
count,35520.000000,35520.000000,35520.0,35520.0,35520.000000,3.552000e+04,35520.000000
mean,36.621750,52.235500,0.0,0.0,294.687889,1.010741e-04,0.001676
std,0.112141,1.068019,0.0,0.0,4.891162,3.101852e-04,0.002794
min,36.471000,50.435000,0.0,0.0,278.924070,0.000000e+00,0.000000
25%,36.546750,51.335250,0.0,0.0,291.614260,2.793968e-08,0.000028
50%,36.622000,52.235500,0.0,0.0,295.225095,1.768320e-06,0.000383
75%,36.697000,53.135750,0.0,0.0,298.158940,3.034290e-05,0.002105
max,36.772000,54.036000,0.0,0.0,307.494140,3.882430e-03,0.026095

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35520 entries, 0 to 35519
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   time        35520 non-null  object
 1   step        35520 non-null  object
 2   latitude    35520 non-null  float64
 3   longitude   35520 non-null  float64
 4   number      35520 non-null  int64
 5   surface     35520 non-null  float64
 6   valid_time  35520 non-null  object
 7   t2m         35520 non-null  float64
 8   sro         35520 non-null  float64
 9   tp          35520 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 2.7+ MB